# April 2018 vs. April 2019 Map Data

Both April 2018 and April 2019 Datasets include the following information: 

Trip Duration (seconds), 
Start Time and Date, 
Stop Time and Date, 
Start Station Name, 
End Station Name, 
Station ID, 
Station Lat/Long, 
Bike ID, 
User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member), 
Gender (Zero=unknown; 1=male; 2=female), 
Year of Birth

In [4]:
# Import dependencies
import pandas as pd
import numpy as np
import datetime as dt

In [5]:
# Import April 2018 & April 2019 data
april_2018_csv = ("Resources/201804-citibike-tripdata.csv")
april_2019_csv = ("Resources/201904-citibike-tripdata.csv")

In [6]:
# Convert to dataframes
april_2018_df = pd.read_csv(april_2018_csv)
april_2019_df = pd.read_csv(april_2019_csv)

FileNotFoundError: [Errno 2] File b'Resources/201804-citibike-tripdata.csv' does not exist: b'Resources/201804-citibike-tripdata.csv'

In [67]:
# Confirm no null values
april_2018_df.count()

tripduration               1048575
starttime                  1048575
stoptime                   1048575
start station id           1048575
start station name         1048575
start station latitude     1048575
start station longitude    1048575
end station id             1048575
end station name           1048575
end station latitude       1048575
end station longitude      1048575
bikeid                     1048575
usertype                   1048575
birth year                 1048575
gender                     1048575
dtype: int64

In [68]:
# Confirm no null values
april_2019_df.count()

tripduration               1048575
starttime                  1048575
stoptime                   1048575
start station id           1048575
start station name         1048575
start station latitude     1048575
start station longitude    1048575
end station id             1048575
end station name           1048575
end station latitude       1048575
end station longitude      1048575
bikeid                     1048575
usertype                   1048575
birth year                 1048575
gender                     1048575
dtype: int64

In [69]:
# Describe 2018 data
april_2018_df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,9.421521e+02,1.102454e+03,4.073760e+01,-7.398511e+01,1.378776e+03,4.073747e+01,-7.398487e+01,2.643854e+04,1.978356e+03,1.125459e+00
std,1.862084e+04,1.194670e+03,2.466324e-02,1.644085e-02,1.364497e+03,2.618523e-02,1.708732e-02,5.790785e+03,1.204919e+01,5.445149e-01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.401713e+01,7.200000e+01,4.064654e+01,-7.404384e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.540000e+02,3.490000e+02,4.072020e+01,-7.399530e+01,3.630000e+02,4.072020e+01,-7.399662e+01,2.089700e+04,1.969000e+03,1.000000e+00
50%,5.970000e+02,4.690000e+02,4.073726e+01,-7.398722e+01,4.900000e+02,4.073726e+01,-7.398752e+01,2.817600e+04,1.980000e+03,1.000000e+00
75%,1.047000e+03,2.009000e+03,4.075510e+01,-7.397634e+01,3.143000e+03,4.075510e+01,-7.397634e+01,3.122100e+04,1.988000e+03,1.000000e+00
max,1.017264e+07,3.306000e+03,4.079693e+01,-7.392989e+01,3.681000e+03,4.081439e+01,-7.390774e+01,3.367100e+04,2.002000e+03,2.000000e+00

In [70]:
# Describe 2019 data
april_2019_df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,1.106669e+03,1.670156e+03,4.073770e+01,-7.398199e+01,1.657264e+03,4.073749e+01,-7.398223e+01,2.918812e+04,1.979689e+03,1.160007e+00
std,1.350569e+04,1.471306e+03,3.067566e-02,1.918105e-02,1.470171e+03,3.050093e-02,1.923293e-02,6.730371e+03,1.207016e+01,5.266668e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.401713e+01,7.200000e+01,4.065540e+01,-7.406391e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.450000e+02,3.850000e+02,4.071817e+01,-7.399468e+01,3.820000e+02,4.071782e+01,-7.399480e+01,2.557000e+04,1.969000e+03,1.000000e+00
50%,5.930000e+02,5.160000e+02,4.073913e+01,-7.398474e+01,5.140000e+02,4.073827e+01,-7.398516e+01,3.095400e+04,1.982000e+03,1.000000e+00
75%,1.061000e+03,3.295000e+03,4.075797e+01,-7.397130e+01,3.294000e+03,4.075757e+01,-7.397179e+01,3.439100e+04,1.990000e+03,1.000000e+00
max,2.572595e+06,3.761000e+03,4.081439e+01,-7.390774e+01,3.763000e+03,4.081439e+01,-7.390774e+01,3.796200e+04,2.003000e+03,2.000000e+00

In [71]:
# Get datatypes for 2018 dataframe
april_2018_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [72]:
# Get datatypes for 2019 dataframe
april_2019_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [73]:
# Preview 2018 data
april_2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,840,07:39.1,21:39.1,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31977,Subscriber,1973,1
1,1438,20:02.2,44:00.6,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,21403,Subscriber,1956,1
2,219,11:14.4,14:53.8,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,29081,Subscriber,1974,1
3,410,52:32.4,59:23.2,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,32130,Subscriber,1983,1
4,485,37:34.3,45:40.0,72,W 52 St & 11 Ave,40.767272,-73.993929,3159,W 67 St & Broadway,40.774925,-73.982666,30055,Subscriber,1978,1

In [74]:
# Preview 2019 data
april_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,00:14.7,01:42.9,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1
1,443,00:20.8,07:44.3,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1
2,662,00:31.0,11:33.3,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1
3,86,00:30.9,01:57.0,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1
4,136,00:32.6,02:49.4,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1

## Create 2018 Start Stations Lat/Long Dataframe

In [75]:
start_coordinates_2018_df = april_2018_df[["start station id", "start station name", "start station latitude",
                                       "start station longitude"]].copy()
start_coordinates_2018_df = start_coordinates_2018_df.drop_duplicates()
start_coordinates_2018_df = start_coordinates_2018_df.rename(columns = {"start station name" : "Station Name"})
start_coordinates_2018_df.head()

,start station id,Station Name,start station latitude,start station longitude
0,72,W 52 St & 11 Ave,40.767272,-73.993929
2797,79,Franklin St & W Broadway,40.719116,-74.006667
4889,82,St James Pl & Pearl St,40.711174,-74.000165
5660,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323
6739,119,Park Ave & St Edwards St,40.696089,-73.978034

## Create 2019 Start Stations Lat/Long Dataframe

In [76]:
start_coordinates_2019_df = april_2019_df[["start station id", "start station name", "start station latitude",
                                       "start station longitude"]].copy()
start_coordinates_2019_df = start_coordinates_2019_df.drop_duplicates()
start_coordinates_2019_df = start_coordinates_2019_df.rename(columns = {"start station name" : "Station Name"})
start_coordinates_2019_df.head()

,start station id,Station Name,start station latitude,start station longitude
0,2006,Central Park S & 6 Ave,40.765909,-73.976342
1,254,W 11 St & 6 Ave,40.735324,-73.998004
2,3244,University Pl & E 8 St,40.731437,-73.994903
3,526,E 33 St & 5 Ave,40.747659,-73.984907
4,461,E 20 St & 2 Ave,40.735877,-73.982050

## Create 2018 End Stations Lat/Long Dataframe

In [77]:
end_coordinates_2018_df = april_2018_df[["end station id", "end station name", "end station latitude",
                                       "end station longitude"]].copy()
end_coordinates_2018_df = end_coordinates_2018_df.drop_duplicates()
end_coordinates_2018_df = end_coordinates_2018_df.rename(columns = {"end station name" : "Station Name"})
end_coordinates_2018_df.head()

,end station id,Station Name,end station latitude,end station longitude
0,379,W 31 St & 7 Ave,40.749156,-73.991600
1,426,West St & Chambers St,40.717548,-74.013221
2,447,8 Ave & W 52 St,40.763707,-73.985162
3,173,Broadway & W 49 St,40.760683,-73.984527
4,3159,W 67 St & Broadway,40.774925,-73.982666

## Create 2019 End Stations Lat/Long Dataframe

In [78]:
end_coordinates_2019_df = april_2019_df[["end station id", "end station name", "end station latitude",
                                       "end station longitude"]].copy()
end_coordinates_2019_df = end_coordinates_2019_df.drop_duplicates()
end_coordinates_2019_df = end_coordinates_2019_df.rename(columns = {"end station name" : "Station Name"})
end_coordinates_2019_df.head()

,end station id,Station Name,end station latitude,end station longitude
0,2006,Central Park S & 6 Ave,40.765909,-73.976342
1,540,Lexington Ave & E 29 St,40.743116,-73.982154
2,3244,University Pl & E 8 St,40.731437,-73.994903
3,474,5 Ave & E 29 St,40.745168,-73.986831
4,504,1 Ave & E 16 St,40.732219,-73.981656

## Create 2018 Start Stations Dataframe

In [79]:
# Create Start Stations 2018 dataframe
start_stations_2018_df = april_2018_df[["start station id", "start station name"]].copy()

# Organize and calculate total number of starts for each unique station
start_stations_2018_df = start_stations_2018_df.groupby("start station name").count()
start_stations_2018_df = start_stations_2018_df.sort_values(by = "start station id", ascending = False)

# Rename column Number of Starts column and reset index
start_stations_2018_df = start_stations_2018_df.rename(columns = {"start station id": "Number of Starts 2018"})
start_stations_2018_df = start_stations_2018_df.reset_index()

In [92]:
# Rename Station column
start_stations_2018_df = start_stations_2018_df.rename(columns = {"start station name": "Station Name"})

# Calculate Percentage of Total Starts 2018
start_stations_2018_df["Percentage of Total Starts 2018"] = round(start_stations_2018_df["Number of Starts 2018"]/start_stations_2018_df["Station Name"].count(),2)

start_stations_2018_df.head()

,Station Name,Number of Starts 2018,Percentage of Total Starts 2018
0,Pershing Square North,12026,26.26
1,E 17 St & Broadway,8765,19.14
2,Broadway & E 22 St,8747,19.10
3,W 21 St & 6 Ave,8269,18.05
4,8 Ave & W 31 St,7257,15.84

## Create 2019 Start Station Dataframe

In [96]:
# Create Start Stations 2019 dataframe
start_stations_2019_df = april_2019_df[["start station id", "start station name"]].copy()

# Organize and calculate total number of starts for each unique station
start_stations_2019_df = start_stations_2019_df.groupby("start station name").count()
start_stations_2019_df = start_stations_2019_df.sort_values(by = "start station id", ascending = False)

# Rename column Number of Starts column and reset index
start_stations_2019_df = start_stations_2019_df.rename(columns = {"start station id": "Number of Starts 2019"})
start_stations_2019_df = start_stations_2019_df.reset_index()

In [97]:
# Rename Station column
start_stations_2019_df = start_stations_2019_df.rename(columns = {"start station name": "Station Name"})

# Calculate Percentage of Total Starts 2019
start_stations_2019_df["Percentage of Total Starts 2019"] = round(start_stations_2019_df["Number of Starts 2019"]/start_stations_2019_df["Station Name"].count(),2)

start_stations_2019_df.head()

,Station Name,Number of Starts 2019,Percentage of Total Starts 2019
0,Pershing Square North,8091,10.52
1,8 Ave & W 31 St,6482,8.43
2,Broadway & E 22 St,6281,8.17
3,E 17 St & Broadway,6202,8.07
4,W 21 St & 6 Ave,5746,7.47

## Create 2018 End Stations Dataframe

In [98]:
# Create End Stations 2018 dataframe
end_stations_2018_df = april_2018_df[["end station id", "end station name"]].copy()

# Organize and calculate total number of etarts for each unique station
end_stations_2018_df = end_stations_2018_df.groupby("end station name").count()
end_stations_2018_df = end_stations_2018_df.sort_values(by = "end station id", ascending = False)

# Rename column Number of Ends column and reset index
end_stations_2018_df = end_stations_2018_df.rename(columns = {"end station id": "Number of Ends 2018"})
end_stations_2018_df = end_stations_2018_df.reset_index()

In [99]:
# Rename Station column
end_stations_2018_df = end_stations_2018_df.rename(columns = {"end station name": "Station Name"})

# Calculate Percentage of Total Ends 2018
end_stations_2018_df["Percentage of Total Ends 2018"] = round(end_stations_2018_df["Number of Ends 2018"]/end_stations_2018_df["Station Name"].count(),2)
end_stations_2018_df.head()

            Station Name  Number of Ends 2018  Percentage of Total Ends 2018
0  Pershing Square North                10637                          13.83
1     E 17 St & Broadway                 8105                          10.54
2     Broadway & E 22 St                 7930                          10.31
3        W 21 St & 6 Ave                 7718                          10.04
4     Broadway & E 14 St                 6462                           8.40

## Create 2019 End Stations Dataframe

In [100]:
# Create End Stations 2019 dataframe
end_stations_2019_df = april_2019_df[["end station id", "end station name"]].copy()

# Organize and calculate total number of etarts for each unique station
end_stations_2019_df = end_stations_2019_df.groupby("end station name").count()
end_stations_2019_df = end_stations_2019_df.sort_values(by = "end station id", ascending = False)

# Rename column Number of Ends column and reset index
end_stations_2019_df = end_stations_2019_df.rename(columns = {"end station id": "Number of Ends 2019"})
end_stations_2019_df = end_stations_2019_df.reset_index()

In [101]:
# Rename Station column
end_stations_2019_df = end_stations_2019_df.rename(columns = {"end station name": "Station Name"})

# Calculate Percentage of Total Ends 2019
end_stations_2019_df["Percentage of Total Ends 2019"] = round(end_stations_2019_df["Number of Ends 2019"]/end_stations_2019_df["Station Name"].count(),2)
end_stations_2019_df.head()

            Station Name  Number of Ends 2019  Percentage of Total Ends 2019
0  Pershing Square North                 8046                          10.36
1     Broadway & E 22 St                 6603                           8.50
2     E 17 St & Broadway                 6345                           8.17
3        8 Ave & W 31 St                 6339                           8.16
4        W 21 St & 6 Ave                 5764                           7.42

## Merge Start Coorindates 2018 and Start Stations 2018 Dataframes

In [102]:
complete_start_stations_2018_df = pd.merge(start_coordinates_2018_df, start_stations_2018_df, how = "left", on = ["Station Name"])
complete_start_stations_2018_df = complete_start_stations_2018_df.sort_values(by = "Number of Starts 2018", ascending = False)
complete_start_stations_2018_df.head()

,start station id,Station Name,start station latitude,start station longitude,Number of Starts 2018,Percentage of Total Starts 2018
252,519,Pershing Square North,40.751873,-73.977706,12026,26.26
234,497,E 17 St & Broadway,40.737050,-73.990093,8765,19.14
158,402,Broadway & E 22 St,40.740343,-73.989551,8747,19.10
182,435,W 21 St & 6 Ave,40.741740,-73.994156,8269,18.05
429,3255,8 Ave & W 31 St,40.750585,-73.994685,7257,15.84

## Merge Start Coorindates 2019 and Start Stations 2019 Dataframes

In [103]:
complete_start_stations_2019_df = pd.merge(start_coordinates_2019_df, start_stations_2019_df, how = "left", on = ["Station Name"])
complete_start_stations_2019_df = complete_start_stations_2019_df.sort_values(by = "Number of Starts 2019", ascending = False)
complete_start_stations_2019_df.head()

,start station id,Station Name,start station latitude,start station longitude,Number of Starts 2019,Percentage of Total Starts 2019
48,519,Pershing Square North,40.751873,-73.977706,8091,10.52
86,3255,8 Ave & W 31 St,40.750585,-73.994685,6482,8.43
311,402,Broadway & E 22 St,40.740343,-73.989551,6281,8.17
161,497,E 17 St & Broadway,40.737050,-73.990093,6202,8.07
10,435,W 21 St & 6 Ave,40.741740,-73.994156,5746,7.47

## Merge End Coorindates 2018 and End Stations 2018 Dataframes

In [104]:
complete_end_stations_2018_df = pd.merge(end_coordinates_2018_df, end_stations_2018_df, how = "left", on = ["Station Name"])
complete_end_stations_2018_df = complete_end_stations_2018_df.sort_values(by = "Number of Ends 2018", ascending = False)
complete_end_stations_2018_df.head()

,end station id,Station Name,end station latitude,end station longitude,Number of Ends 2018,Percentage of Total Ends 2018
44,519,Pershing Square North,40.751873,-73.977706,10637,13.83
34,497,E 17 St & Broadway,40.737050,-73.990093,8105,10.54
162,402,Broadway & E 22 St,40.740343,-73.989551,7930,10.31
80,435,W 21 St & 6 Ave,40.741740,-73.994156,7718,10.04
289,285,Broadway & E 14 St,40.734546,-73.990741,6462,8.40

## Merge End Coorindates 2019 and End Stations 2019 Dataframes

In [105]:
complete_end_stations_2019_df = pd.merge(end_coordinates_2019_df, end_stations_2019_df, how = "left", on = ["Station Name"])
complete_end_stations_2019_df = complete_end_stations_2019_df.sort_values(by = "Number of Ends 2019", ascending = False)
complete_end_stations_2019_df.head()

,end station id,Station Name,end station latitude,end station longitude,Number of Ends 2019,Percentage of Total Ends 2019
63,519,Pershing Square North,40.751873,-73.977706,8046,10.36
240,402,Broadway & E 22 St,40.740343,-73.989551,6603,8.50
121,497,E 17 St & Broadway,40.737050,-73.990093,6345,8.17
209,3255,8 Ave & W 31 St,40.750585,-73.994685,6339,8.16
267,435,W 21 St & 6 Ave,40.741740,-73.994156,5764,7.42

## Determine Start and End Stations count/percentages in 2018 and 2019

In [106]:
# Confirm how many 2018 start stations there are
total_start_stations_2018 = start_stations_2018_df["Station Name"].nunique()
total_start_stations_2018

458

In [107]:
# Confirm how many 2018 end stations there are
total_end_stations_2018 = end_stations_2018_df["Station Name"].nunique()
total_end_stations_2018

769

In [108]:
# Confirm how many 2019 start stations there are
total_start_stations_2019 = start_stations_2019_df["Station Name"].nunique()
total_start_stations_2019

769

In [109]:
# Confirm how many 2019 end stations there are
total_end_stations_2019 = end_stations_2019_df["Station Name"].nunique()
total_end_stations_2019

777

In [110]:
start_station_growth_percent = round((total_start_stations_2019 - total_start_stations_2018)/(total_start_stations_2019)*100, 2)
start_station_growth_percent

40.44

In [111]:
end_station_growth_percent = round((total_end_stations_2019 - total_end_stations_2018)/(total_end_stations_2019)*100, 2)
end_station_growth_percent

1.03

## Merge 2018 Start and End Dataframes

In [112]:
complete_2018_stations_df = pd.merge(complete_start_stations_2018_df, complete_end_stations_2018_df, how = "right",
                                    on = ["Station Name"])

# Confirm the total amount of rows equals the total number of end stations
complete_2018_stations_df.shape

(769, 11)

In [113]:
complete_2018_stations_df.head()

,start station id,Station Name,start station latitude,start station longitude,Number of Starts 2018,Percentage of Total Starts 2018,end station id,end station latitude,end station longitude,Number of Ends 2018,Percentage of Total Ends 2018
0,519.0,Pershing Square North,40.751873,-73.977706,12026.0,26.26,519,40.751873,-73.977706,10637,13.83
1,497.0,E 17 St & Broadway,40.737050,-73.990093,8765.0,19.14,497,40.737050,-73.990093,8105,10.54
2,402.0,Broadway & E 22 St,40.740343,-73.989551,8747.0,19.10,402,40.740343,-73.989551,7930,10.31
3,435.0,W 21 St & 6 Ave,40.741740,-73.994156,8269.0,18.05,435,40.741740,-73.994156,7718,10.04
4,3255.0,8 Ave & W 31 St,40.750585,-73.994685,7257.0,15.84,3255,40.750585,-73.994685,6395,8.32

## Merge 2019 Start and End Dataframes

In [114]:
complete_2019_stations_df = pd.merge(complete_start_stations_2019_df, complete_end_stations_2019_df, how = "right",
                                    on = ["Station Name"])

# Confirm the total amount of rows equals the total number of end stations
complete_2019_stations_df.shape

(777, 11)

In [115]:
complete_2019_stations_df.head()

,start station id,Station Name,start station latitude,start station longitude,Number of Starts 2019,Percentage of Total Starts 2019,end station id,end station latitude,end station longitude,Number of Ends 2019,Percentage of Total Ends 2019
0,519.0,Pershing Square North,40.751873,-73.977706,8091.0,10.52,519,40.751873,-73.977706,8046,10.36
1,3255.0,8 Ave & W 31 St,40.750585,-73.994685,6482.0,8.43,3255,40.750585,-73.994685,6339,8.16
2,402.0,Broadway & E 22 St,40.740343,-73.989551,6281.0,8.17,402,40.740343,-73.989551,6603,8.50
3,497.0,E 17 St & Broadway,40.737050,-73.990093,6202.0,8.07,497,40.737050,-73.990093,6345,8.17
4,435.0,W 21 St & 6 Ave,40.741740,-73.994156,5746.0,7.47,435,40.741740,-73.994156,5764,7.42

## Calculate Number of Bikes and Percentage of Growth

In [116]:
total_bikes_2018 = april_2018_df["bikeid"].nunique()
total_bikes_2018

11886

In [117]:
total_bikes_2019 = april_2019_df["bikeid"].nunique()
total_bikes_2019

14171

In [118]:
bike_growth_percent = round((total_bikes_2019 - total_bikes_2018)/(total_bikes_2019)*100, 2)
bike_growth_percent

16.12

## Calculate Length of Trips in 2018 vs. 2019

In [119]:
average_trip_length_2018 = april_2018_df["tripduration"].sum()/april_2018_df["tripduration"].count()
average_trip_length_2018_minutes = round(average_trip_length_2018/60, 2)
average_trip_length_2018_minutes

15.7

In [120]:
average_trip_length_2019 = april_2019_df["tripduration"].sum()/april_2019_df["tripduration"].count()
average_trip_length_2019_minutes = round(average_trip_length_2019/60, 2)
average_trip_length_2019_minutes

18.44

In [121]:
trip_length_percentage_growth = round((average_trip_length_2019_minutes - average_trip_length_2018_minutes)/(average_trip_length_2019_minutes)*100,2)
trip_length_percentage_growth

14.86

## Calculate Amount of Customers vs. Subscribers in 2018

Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member

In [122]:
total_customers_2018 = april_2018_df.loc[april_2018_df["usertype"] == "Customer"].count()
total_customers_2018 = total_customers_2018["usertype"]
total_customers_2018

119235

In [123]:
total_subscribers_2018 = april_2018_df.loc[april_2018_df["usertype"] == "Subscriber"].count()
total_subscribers_2018 = total_subscribers_2018["usertype"]
total_subscribers_2018

929340

In [124]:
total_riders_2018 = total_customers_2018 + total_subscribers_2018
total_riders_2018

1048575

In [125]:
percentage_total_customers_2018 = round(total_customers_2018/total_riders_2018 *100, 2)
percentage_total_customers_2018

11.37

In [126]:
percentage_total_subscribers_2018 = round(total_subscribers_2018/total_riders_2018 *100, 2)
percentage_total_subscribers_2018

88.63

## Calculate Amount of Customers vs. Subscribers in 2019

In [127]:
total_customers_2019 = april_2019_df.loc[april_2019_df["usertype"] == "Customer"].count()
total_customers_2019 = total_customers_2019["usertype"]
total_customers_2019

120056

In [128]:
total_subscribers_2019 = april_2019_df.loc[april_2019_df["usertype"] == "Subscriber"].count()
total_subscribers_2019 = total_subscribers_2019["usertype"]
total_subscribers_2019

928519

In [129]:
total_riders_2019 = total_customers_2019 + total_subscribers_2019
total_riders_2019

1048575

In [130]:
percentage_total_customers_2019 = round(total_customers_2019/total_riders_2019 *100, 2)
percentage_total_customers_2019

11.45

In [131]:
percentage_total_subscribers_2019 = round(total_subscribers_2019/total_riders_2019 *100, 2)
percentage_total_subscribers_2019

88.55

## Export Data to CSV

In [132]:
complete_2018_stations_df.to_csv(r'Exported Clean Data/CompleteStations2018.csv', index = None, header=True)
complete_2019_stations_df.to_csv(r'Exported Clean Data/CompleteStations2019.csv', index = None, header=True)